@keyframes magnet {
  to {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #0B0C10;
}

.text {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  line-height: 140%;
  color: #FFFFFF;
}

.text.title {
  font-size: 2em;
  font-weight: 900;
}

.text.subtitle {
  font-size: 1.2em;
  font-weight: 900;
  color: #DADFEA;
}

.text.bold {
  font-weight: 900;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .mobile {
    display: none;
  }
}
#navbar {
  width: 100vw;
  height: 5vh;
  background-color: #FB77B7;
}

@media screen and (max-width: 1000px) {
  #navbar {
    display: none;
  }
}
#app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#lists-display {
  overflow-y: scroll;
  width: 20vw;
  height: 100%;
  background-color: #0B0C10;
}
#lists-display .active {
  color: #FB77B7;
}
#lists-display .bottom-padding {
  min-height: 100px;
}
#lists-display .toolbar {
  position: absolute;
  bottom: 0;
  width: 20vw;
  height: 50px;
  background-color: #000000;
}

#list-items-display {
  overflow-y: scroll;
  width: 80vw;
  background-color: #1A1B1F;
}
