@import '_global-vars';

//
// global styles
//

* {
	margin: 0px;
	padding: 0px;
}
body {
	@include flex-column;
	align-items: center;
	width: 100vw;
	background-color: $darkgray;
}
.icon {
	width: $icon-size;
	height: $icon-size;
	font-size: $icon-size;
	color: $white;
}

.text {
	margin-left: 10px;
	margin-right: 10px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1.0em;
	font-weight: 300;
	line-height: 140%;
	color: $white;
}
.text.title {
	font-size: 2.0em;
	font-weight: 900;
}
.text.subtitle {
	font-size: 1.2em;
	font-weight: 900;
	color: $lightgray;
}
.text.bold {
	font-weight: 900;
}
.text.link {}
.text.link:hover {}
.text.link.tool {}
.text.link.tool:hover {}


.btn {
	background: transparent;
	border: none;
}
.icon {
	margin: 10px;
}

.row {
	@include flex-row;
	justify-content: space-between;
}
.row-center {
	@include flex-row;
	justify-content: space-between;
	align-items: center;
}
.col {
	@include flex-column;
	align-items: center;
}

//
// media
//

@media screen and (max-width: $media-breakpoint) {
	.desktop {
		display: none;
	}
}
@media screen and (min-width: $media-breakpoint) {
	.mobile {
		display: none;
	}
}