// colors
$lightgray: #DADFEA;
$gray: #56585B;
$darkgray: #202124;
$black: #000000;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.3);

// misc.
$side-margin: 7vw;
$media-breakpoint: 1000px;

//
// mixins & templates
//
@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}


//
// animations
//
@keyframes magnet {
	from {}
	to {
		box-shadow: 3px 3px 3px $shadow;
	}
}
@mixin magnetic-effect {
	animation-duration: 0.2s;
	animation-name: magnet;
}


//
// global styles
//

* {
	margin: 0px;
	padding: 0px;
}
body {
	@include flex-column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	background-color: $darkgray
}

.text {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1.0em;
	font-weight: 300;
	line-height: 140%;
	color: $white;
}
.text.title {
	font-size: 2.0em;
	font-weight: 900;
}
.text.subtitle {
	font-size: 1.2em;
	font-weight: 900;
	color: $lightgray;
}
.text.bold {
	font-weight: 900;
}
.text.link {}
.text.link:hover {}
.text.link.tool {}
.text.link.tool:hover {}


//
// media
//

@media screen and (max-width: $media-breakpoint) {
	.desktop {
		display: none;
	}
}
@media screen and (min-width: $media-breakpoint) {
	.mobile {
		display: none;
	}
}