// colors
$lightgray: #DADFEA;
$gray: #56585B;
$darkgray: #0B0C0E;
$darkgray2: #141517;
$darkgray3: #1A1B1F;
$black: #000000;
$white: #FFFFFF;
$pink: #FB77B7;
$darkpink: #AB2767;
$orange: #FF7B54;
$darkorange: #AF1B00;
$shadow-heavy: 0px 0px 24px rgba(0, 0, 0, 0.9);
$shadow-light: 0px 0px 16px rgba(0, 0, 0, 0.5);

// misc.
$icon-size: 30px;
$side-margin: 7vw;
$media-breakpoint: 1000px;

//
// mixins & templates
//
@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}


//
// animations
//
@keyframes magnet {
	from {box-shadow: none;}
	to {
		box-shadow: $shadow-heavy;
	}
}
@mixin magnetic-effect {
	animation-duration: 0.2s;
	animation-name: magnet;
}